[MASTER]
# Définir le score minimal acceptable (par exemple, 8/10)
fail-under=8.0

[MESSAGES CONTROL]
# Désactiver certains messages si nécessaire
disable=
    missing-docstring,
    too-few-public-methods,
    line-too-long,
    broad-exception-caught,
    broad-exception-raised
